/*
  Name:
*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,600&family=Montserrat&family=Share+Tech+Mono&display=swap');
:root {
  --main-color-800: hsl(120, 30%, 15%);
  --main-color-200: hsl(120, 40%, 95%);
  --main-color-300: hsl(120, 40%, 88%);
  --main-color-500: hsl(120, 30%, 50%);
  --accent-color-500: hsl(344, 50%, 50%);
  --font-headings: 'Crimson Pro', serif;
  --font-main: 'Montserrat', Verdana, sans-serif;
  --font-code: 'Share Tech Mono', Consolas, monospace;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-main);
  color: var(--main-color-800);
  background-color: var(--main-color-200);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color-800);
  color: var(--main-color-200);
  padding: 1rem;
}
nav ul {
  list-style-type: none;
}
nav li {
  padding: .25em;
}
nav a {
  color: var(--main-color-200);
  text-decoration: none;
  padding: .25rem 1rem;
}
nav a:hover {
  background-color: var(--accent-color-500);
}
header div {
  font-size: .85rem;
}
header div span {
  font-weight: bolder;
}
main {
  padding: 1.5rem;
}
h2 {
  padding-bottom: 1rem;
}
dt {
  font-weight: 700;
}
dd {
  margin: .5rem 1rem;
}
/* Add table styles below this comment */


/* Add web component styles below this comment */
